.ant-btn {

  &.button-inside-input {
    position: absolute;
    height: 40px;
    top: 5px;
    left: calc(100% - 110px);
    border-radius: 8px;
    background-color: #5D05F2;
    color: white;
  }

  &.custom-btn {
    height: 50px;
    border-radius: 8px;
    background-color: #5D05F2;
    color: white;
  }

}