.ant-dropdown {
  .ant-dropdown-menu {

    .ant-dropdown-menu-item {

      &.env-item {
        span {
          color: #AAB5C1;
          padding-bottom: 10px;
          padding-top: 10px;
        }

        &.with-border {
          span {
            border-bottom: 1px solid #E8EAED;
          }
        }
      }
    }
  }
}