.ant-input {
  &:placeholder-shown {
    font-weight: 500;
    font-size: 14px;
  }


  &.parameters-input {
    height: 100%;
    border: 1px solid #d0d3d6;
    // border-radius: 8px;
  }

  &.custom-input {
    height: 50px;
    border: 1px solid #d0d3d6;
    // border-radius: 8px;
  }


}

.ant-input-affix-wrapper {


  &.search-input {
    border: 1px solid #d0d3d6;
    // border-radius: 8px !important;
    height: 40px;
  }
}