.ant-input{

  &.parameters-input{
    height: 100%;
    border: 1px solid #d0d3d6;
    border-radius: 8px;
  }

  &.custom-input{
    height: 50px;
    border: 1px solid #d0d3d6;
    border-radius: 8px;
  }

}