@primary-color: #5D05F2;

@border-radius-base: 8px;


@mobile-small: ~"screen and (max-width: 480px)";
@mobile :~"screen and (max-width: 576px)";
@mobile-large :~"screen and (max-width: 768px)";
@tablet :~"screen and (max-width: 992px)";
@desktop-small :~"screen and (max-width: 1100px)";
@desktop :~"screen and (max-width: 1366px)";
@desktop-large :~"screen and (min-width: 1600px)";

@layout-header-background: linear-gradient(122.33deg, #210137 -7.68%, #2D0357 34.4%, rgba(54, 5, 118, 0.7) 99.95%, #FAF8F0 147.69%);
@layout-header-height: 58px;
@layout-header-padding: 16px 100px;